*{
    color: #000;
    
}
a:hover{                            /* mudar a cor do link */
    color: red;
}
body {
    margin: 0;
    padding: 0;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr; 
    gap: 5%;
    height: 100vh;
}
.coluna {
                              /* estilo para as colunas */
    color: white;
    text-align: center;
}
#left {
    background-color: grey; /* coluna esquerda */
}

#right {
    background-color: white; /* coluna do meio */
}
#nome {
    margin-top: 20px;  
    width: 300px;
    height: 50px;
    background-color: rgb(167, 150, 150);
}
#nome img{
    width: 200px;
    height: auto;
    margin-right: 5px;
}
#nome a{
    font-size: medium;
    margin: 0px;
    text-align: center;
    }
.texto {

    margin-left: -5%;
    font-size: large;    
    text-align: left;
}
.titulo h1{
    font-size: 80px;
}
.variavel{
    font-size: 35px; /* tamanho da primeira lei */
}

a {
  /* estilo para o link de voltar */
    position: relative;
    top: 40px;
    text-align: center;
    color: #000;
    font-size: 50px;
    text-decoration: none;
}
hr { /* barra lateral */
    border: 0; /* Remove a borda padrão */
    height: 2px; /* Define a altura da linha */
    background-color: #333; /* Cor da linha */
    margin: 20px 0; /* Espaçamento superior e inferior da linha */
} 