        *{
            color: #000;
        }

        body {

            margin: 0;
            padding: 0;
 
        }
        hr { /* barra horizontal para dividir as questões*/
            border: 0; 
            height: 2px; 
            background-color: #333; 
            margin: 20px 0; 
        }
        /* estilo para o container das colunas */
        .container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr; /* definindo colunas com tamanhos diferentes */
            gap: 10px; /* espaçamento entre as colunas */
            height: 100vh;
    
        }

        
        .coluna {
            padding: 20px;           /* estilo para as colunas */
            color: white;
            text-align: center;
        }

        #left {
            background-color: grey; /* coluna esquerda */
        }

        #middle {
            background-color: white; /* coluna do meio */
            font-size: larger;
            text-align: left;
        }
        
        #right {
            background-color: grey; /* cor da coluna direita */
        }
        
        #left a {
            position: absolute; /* estilo para o link de voltar */
            top: 50px;
            margin-left: -3%;
            color: #000;
            font-size: 40px;

        }
        .resposta /* link das resoluções */
        {
            position: absolute;
            top: 50px;
            margin-left: 85%;
            color: #000;
            font-size: 40px;
        }