*{
    color: black;
}
p{
    font-size: larger;
}
hr {
    border: 0; /* Remove a borda padrão */
    height: 2px; /* Define a altura da linha */
    background-color: #333; /* Cor da linha */
    margin: 20px 0; /* Espaçamento superior e inferior da linha */
} 
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}
.coluna {
    padding: 20px;
    color: white;
    text-align: center;
}
    #left {
        background-color: grey;
    }

    #middle {
        background-color: white;
    }

    #right {
        background-color: grey;
    }
    h1{
        font-size: 60px;
    }
    a {
        position: absolute; /* estilo para o link de voltar */
        top: 50px;
        margin-left: 5%;
        color: #000;
        font-size: 40px;
        text-decoration: none;
    }
    #resposta
    {
        position: absolute;
        top: 10px;
        margin-left: 87%;
        color: #000;
        font-size: x-large;
        text-decoration: none;
    }